@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

html, body{
    width: 100%;
    min-height: 100%;
    background-color: lightgray; 
}

body{
    margin: 0;
}

#root{
    display: flex;
    justify-content: center;
}

.app-container{
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
}

.app-container > h1{
    font-family: 'Montserrat';
    font-weight: 300;
    margin: 48px auto 0px auto;
}

form{
    width: 720px;
}

.history-container{
    margin: 48px;
    font-family: 'Montserrat';
    color: hsl(210deg, 12%, 45%);
}

ul{
    list-style: none;
}

.history-container h3{
    font-weight: 300;
    border-bottom: solid thin lightgray;
}

.history-container li{
    font-size: 14px;
    margin-bottom: 12px;
}

.history-container li > button{
    appearance: none;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    font-style: italic;
}