@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

html, body{
    width: 100%;
    min-height: 100%;
    background-color: lightgray; 
}

body{
    margin: 0;
}

#root{
    display: flex;
    justify-content: center;
}

.app-container{
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
}

.app-container > h1{
    font-family: 'Montserrat';
    font-weight: 300;
    margin: 48px auto 0px auto;
}

form{
    min-width: 720px;
    display: flex;
    flex-flow: column nowrap;
}

.history-container{
    margin: 48px;
    font-family: 'Montserrat';
    color: hsl(210deg, 12%, 45%);
}

ul{
    list-style: none;
}

.history-container h3{
    font-weight: 300;
    border-bottom: solid thin lightgray;
}

.history-container li{
    font-size: 14px;
}

.history-container > ul {
    padding-left: 12px;
}

.history-button{
    appearance: none;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    font-style: italic;
    color: grey;
    font-weight: bold;
    margin-left: 8px;
    visibility: hidden;
}

.history-item > li:hover > .history-button,
.main-tasks-container li:hover > .history-button{
    visibility: visible;
}

.history-button.remove-button{
    margin-left: 0px;
    font-weight: normal;
    color: hsl(0deg, 60%, 50%);
}

.work-history-item{
    margin-bottom: 24px;
}

.work-history-item > li{
    margin-bottom: 12px;
}

.work-history-item > .main-tasks-container > ul{
    margin: 0px;
    font-family: 'Montserrat';
    color: hsl(210deg, 12%, 45%);

    padding-left: 14px;
    margin-top: 12px;
}

.history-item > li, .main-tasks-container li{
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 8px;
    font-size: 14px;
}

.history-item > li > .edit-button, .main-tasks-container li > .edit-button{
    margin-left: auto;
}

.history-item > li::before,
.main-tasks-container li::before{
    content: '⬤';
    font-size: 6px;
    margin-right: 8px;
    padding-top: 5px;
}

.input-button.submit-button{
    margin-top: 0px;
    margin-bottom: 24px;
    align-self: center;

    width: 244px;
    font-size: 16px;
    font-weight: bold;
    background-color: hsl(220deg, 30%, 50%);
}